@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
	font-family: 'Museo Sans Cyrl', 'Arial', sans-serif; 
	background-color: grey;
	padding: 0;
	margin: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
    width: 320px;
}

.navigation__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
    background-color: white;
}

.navigation__link {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    height: 100%;
}

.navigation__link:hover {
    background-color: #ee700e;
    color: white;
}

.navigation__item {
    max-width: 250px;
    flex-grow: 1;
}

.navigation__item:first-child .navigation__link {
    padding-left: 0;
    text-align: left;

}

.navigation__item:last-child .navigation__link {
    padding-right: 0;
    text-align: right;
}

.header__phone-link {
	font-weight: 900;
	font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.header__phone-link:hover {
    text-decoration: underline;
    color: #ee700e;
}

.banner {
    background-image: url('../img/banner-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0 60px;
}



.banner__title {
    padding: 40px 0;
}

.banner__name {
    font-size: 35px;
    line-height: 46px;
    font-weight: 900;
    color: white;
    text-align: center;
    


}

.banner__name--bold {
    font-size: 40px;
    line-height: 46px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.banner__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 70px;

} 

.banner__item {
    display: flex; 
    justify-content: space-around;
    text-align: center;
    width: 19%;
    padding-top: 140px;
    }

.banner__documents {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.banner__documents-item {
    display: flex; 
    justify-content: space-around;
    text-align: center;
    margin: 0 15px;
}

.banner__documents-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-decoration: none;
    color: #727272;
    transition: 0.5s;
    background-color: white;
    padding: 20px;
    width: 260px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.banner__documents-link:hover {
    background-color: #ee700e;
    color: white;
}

.servises {
    background-color: white;
    padding: 60px 0;
   
   
}



.servises-name {
    font-weight: 900;
    font-size: 36px;
    line-height: 23px;
    text-transform: uppercase;  
    display: flex;
    justify-content: center;
}

.servises-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap




}

.servises-item {
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding-top: 150px;
   }

.servises-link {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    color: #6b6b6b

}

.services__item:first-child .services__link {
    padding-left: 0;
    text-align: left;

}

.services__item:last-child .services__link {
    padding-right: 0;
    text-align: right;
}

.servises-link:hover {
    background: opacity;
}
